.header {
    background-color: #000;
    height: 85px;
}

.haeder-inner {
    width: 80%;
}

.header-logo {
    margin: 0;
}

.header-logo-image {
    height: 40px;
    margin-left: 25px;
    margin-top: 20px;
}